.actionsList {
  display: flex;
  align-items: center;
  gap: 16px;
}

.actionsLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 4px 10px;
  border-radius: 8px;

  font-family: var(--font-nunito);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;

  transition: all 0.2s ease;
}

/* variants */
.transparent {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.white {
  background: #fff;
  color: #000;
  border: 1px solid #fff;
}
