.pageWrapper {
  padding-top: 32px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media only screen and (min-width: 768px) {
  /* .pageWrapper {
    padding-top: 32px;
  } */
}

@media only screen and (min-width: 1440px) {
  .pageWrapper {
    gap: 72px;
    padding-top: 48px;
    padding-bottom: 72px;
  }
}
