.footer {
  padding: 80px 0;
  background-color: #e8eeff;
  /* --logo-text-color: #000; */
  color: #000;
  /* --nav-text-color: #000; */
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}

.divider {
  border: 1px solid rgba(0, 0, 0, 0.15);

  height: 0px;
  margin-bottom: 32px;
}

.footerCopyright {
  text-align: center;
}
