@import 'modern-normalize/modern-normalize.css';
:root {
  --color-neutral-darkest: #000;
  --color-white: #fff;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-neutral-darkest-5: rgba(0, 0, 0, 0.05);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --color-neutral-lightest: #f2f2f2;
  --color-royal-blue: #4169e1;
}
/* Base reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* глобальні */

body {
  font-family: var(--font-nunito), sans-serif;
  background-color: #f7f9ff;
  color: #000;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* .container {
  width: 100%;

  margin: 0 auto;
  padding: 0 20px;
  border: 2px solid red;
} */

/* mobile >= 375px */
/* @media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
} */

/* tablet */
/* @media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
} */

/* desktop */
/* @media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
} */
/* Styles for Mobile devices */

.container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */

@media only screen and (min-width: 1440px) {
  /* section {
    padding: 72px 0;
  } */

  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
