/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* .container {
  width: 100%;

  margin: 0 auto;
  padding: 0 20px;
  border: 2px solid red;
} */

/* mobile >= 375px */
/* @media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
} */

/* tablet */
/* @media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
} */

/* desktop */
/* @media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
} */
