@import 'modern-normalize/modern-normalize.css';
:root {
  --color-neutral-darkest: #000;
  --color-white: #fff;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-neutral-darkest-5: rgba(0, 0, 0, 0.05);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --color-neutral-lightest: #f2f2f2;
  --color-royal-blue: #4169e1;

  /* ********************************** */
  /* BUTTON */
  /* --- 1. ПАЛІТРА (Base Colors) --- */

  --color-blue-primary: #4169e1;
  --color-blue-soft: #e8eeff;
  --color-blue-medium: #7a96ea;
  --color-blue-dark: #1a2a5a;

  --color-white: #ffffff;
  --color-black: #000000;

  /* Напівпрозорі кольори (Alpha) */
  --color-black-a05: rgba(0, 0, 0, 0.05);
  --color-black-a15: rgba(0, 0, 0, 0.15);
  --color-white-a0: rgba(255, 255, 255, 0);

  /* --- 2. КНОПКИ (Button Semantic Tokens) --- */

  /* Загальні параметри */
  --btn-radius: 8px;
  --btn-border-width: 1px;
  --btn-border-style: solid;
  --btn-disabled-opacity: 0.3;

  /* Відступи для кнопок з текстом */
  --btn-pd-l: 6px 12px; /* Велика (L) */
  --btn-pd-s: 4px 10px; /* Мала (S) */

  /* Відступи для кнопок-іконок (щоб були квадратними) */
  --btn-pd-icon-l: 6px;
  --btn-pd-icon-s: 4px;

  /* Primary (Синя) */

  --btn-primary-bg: var(--color-blue-primary);
  --btn-primary-text: var(--color-white);
  --btn-primary-border: var(--color-blue-primary);

  --btn-primary-hover-bg: var(--color-blue-soft);
  --btn-primary-hover-text: var(--color-black);

  --btn-primary-active-bg: var(--color-blue-medium);
  --btn-primary-active-text: var(--color-black);

  /* Secondary (Сіра з бордером) */
  --btn-secondary-bg: var(--color-black-a05);
  --btn-secondary-text: var(--color-black);
  --btn-secondary-border: var(--color-black-a15);

  /* Secondary Hover  */
  --btn-secondary-hover-bg: var(--color-blue-primary);
  --btn-secondary-hover-text: var(--color-white);
  --btn-secondary-hover-border: var(--color-white-a0);

  /* Secondary Active  */
  --btn-secondary-active-bg: var(--color-blue-dark);
  --btn-secondary-active-text: var(--color-white);
  --btn-secondary-active-border: var(--color-white-a0);

  /* *********************************** */

  /* ********************************** */
}

/* Base reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* глобальні */

body {
  font-family: var(--font-nunito), sans-serif;
  background-color: #f7f9ff;
  color: #000;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* .container {
  width: 100%;

  margin: 0 auto;
  padding: 0 20px;
  border: 2px solid red;
} */

/* mobile >= 375px */
/* @media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
} */

/* tablet */
/* @media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
} */

/* desktop */
/* @media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
} */
/* Styles for Mobile devices */

.container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */

@media only screen and (min-width: 1440px) {
  /* section {
    padding: 72px 0;
  } */

  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
