/* StoryDetails.module.css */

.title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #000;
}

.meta {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-bottom: 32px;
}

.metaInfoInner {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.infoGroup {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.metaItem {
  display: flex;
  gap: 8px;
  font-size: 16px;
  line-height: 1.5;
}

.metaItemStrong {
  font-weight: 700;
}

.metaItemGeneral {
  font-weight: 400;
}

.categoryBadge {
  align-self: self-start;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.05);
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1.5;
  border-radius: 20px;
  overflow: hidden;
}

.mainImage {
  object-fit: cover;
}

.contentGrid {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 32px;
}

.textBlock {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #333;
  white-space: pre-line; /* Зберігає абзаци тексту */
}

.saveAside {
  padding: 32px 20px;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  background-color: #f2f2f2;
}

.saveCard {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.saveTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.saveButton {
  padding: 12px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  border: 1px solid #4169e1;
  border-radius: 8px;
  background-color: #4169e1;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 48px;
    line-height: 1.1;
  }

  .metaInfoInner {
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0;
  }

  .infoGroup {
    display: flex;
    flex-direction: row;
    row-gap: 0;
    column-gap: 48px;
  }

  .textBlock {
    color: #000;
  }

  .saveAside {
    max-width: 418px;
    padding: 32px 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .title {
    font-size: 56px;
  }

  .meta {
    padding-bottom: 48px;
  }

  .contentGrid {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 48px;
  }

  .saveAside {
    width: 418px;
    flex-shrink: 0;
  }
}
