.navList {
  display: flex;
  align-items: center;
  gap: 32px;
  /* margin-left: auto; */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  /* color: #fff; */
}

.navLink {
  color: inherit;
  /* color: var(--nav-text-color); */
}
