.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo svg {
  width: 23px;
  height: 23px;
}

.text {
  font-family: var(--font-sora);
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #fff;
}
